@model UserManagementDashboard.Models.User

@{
    ViewBag.Title = "Manage Users";
}

<h1>Manage Users</h1>

<!-- Exibir a mensagem de erro, se houver -->
@if (TempData["DangerMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["DangerMessage"]
    </div>
}

<!-- Tabela de usuários -->
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in ViewBag.Users)
    {
        <tr>
            <td>
                <a asp-action="ManageUsers" asp-route-id="@user.Id">Select</a>
            </td>
            <td>@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
   
        </tr>
    }
    </tbody>
</table>
<!-- Formulário de deleção de usuário -->
@if (Model != null)
{
    <form asp-action="Remove" method="post" onsubmit="return confirm('Do you confirm this deletion?');">
        <input asp-for="Id" type="hidden" />
        <input type="submit" class="btn btn-danger" value="Remove" />
    </form>
}
<!-- Formulário de edição de dados pessoais -->
@if (Model != null)
{
    <h3>Personal Section</h3>
    <form asp-action="UpdatePersonalInfo" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update Personal Info</button>
    </form>
}

<!-- Formulário de edição de dados de segurança -->
@if (Model != null)
{
    <h3>Security Section</h3>
    <form asp-action="UpdateSecurityInfo" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update Security Info</button>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
